header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 5em 0 0 0;
}
div.full {
  height: 100vh;
  width: 100%;
}
div.body1 {
  background-color: white;
}
div.body2 {
  background-color: green;
}
div.full2 {
  height: 95vh;
  width: 100%;
}
div.body3 {
  background-color: yellow;
}
ul {
  list-style-type: none;
  float: right;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 0 5em 0 0;
}

li a:hover {
  opacity: 0.5;
}
.header_div_left {
  height: 100em;
  float: left;
  margin: 0 0 0 5em;
}
.header_div_right {
  height: 100em;
  float: right;
}
footer {
  height: 5vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 50vh 0 0 0;
}
