div {
  margin: 0;
  border: 0;
  padding: 0;
}

p {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 2em 0 0 0;
}
header div {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
div.full {
  height: 100vh;
}

div.full2 {
  height: 95vh;
  display: flex;
}

div a {
  margin-left: 5em;
}

div ul {
  float: right;
  width: 40%;
}

ul li {
  float: left;
  padding: auto 1em auto auto;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
}

li a:hover {
  color: rgb(90, 34, 139);
  transform: scale(1.5, 1.5);
  /* opacity: 0.5; */
}

footer {
  height: 5vh;
  text-align: center;
}

footer span {
  display: block;
  padding: 2vh 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  margin: auto;
  text-align: center;
}

#slider img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
}

#logo {
  width: 15%;
  height: auto;
}
