div {
  margin: 0;
  border: 0;
  padding: 0;
}

p {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 5em 0 0 0;
  height: 5em;
}

div.full {
  height: 100vh;
}

div.full2 {
  height: 95vh;
}

div.body1 {
  background-color: grey;
}

div.body2 {
  background-color: green;
}

div.body3 {
  background-color: yellow;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: left;
  padding: 0 5em 0 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: rgb(90, 34, 139);
  font-weight: bold;
  font-size: large;
  /* opacity: 0.5; */
}

.header_div_left {
  /* display: inline-block; */
  float: left;
  margin: 0 0 0 5em;
  height: 100%;
}

.header_div_right {
  /* display: inline-block; */
  float: right;
  height: 100%;
}

footer {
  height: 5vh;
  text-align: center;
}

footer span {
  display: block;
  padding: 2vh 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 50vh 0 0 0;
}
